# Node.js
node_modules/
.env

# Parcel output
dist/
.cache/
.parcel-cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.idea/
.vscode/
*.swp

# TypeScript
*.tsbuildinfo

# SCSS
*.map

# Other
*.log